# Else
LICENSE
.prettierignore
.vscode/
.github/

# Config Files
.prettierrc
tsconfig.json
tsup.config.json
typedoc.json
release-it.json
eslint.config.mjs

# Source
src/
docs/
tests/

# MarkDown
CHANGELOG.md
NOTES.md